option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: jdbc:postgresql://<POSTGRESQL_SERVICE_HOST>:5432/mythidb
    SPRING_DATASOURCE_USERNAME: <POSTGRESQL_USER>
    SPRING_DATASOURCE_PASSWORD: <POSTGRESQL_PASSWORD>
    SPRING_JPA_HIBERNATE_DDL_AUTO: none
    SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
    LUCENE_INDEX_DIR: /efs/lucene
    SERVER_PORT: 5000
    